.banner-button {
  width: 200px;
  background-color: #870049;
  border: none;
  &:focus,
  &:hover,
  &:active {
    background-color: #620135 !important;
    border: none !important;
    box-shadow: 0 0 0 0 !important;
  }
}

.go-to-lib {
  width: 200px;
  background-color: #e7007d;
  border: none;
  &:focus,
  &:hover,
  &:active {
    background-color: #e7007bd5 !important;
    border: none !important;
    box-shadow: 0 0 0 0 !important;
  }
}

#notes {
  animation: flying 2s infinite ease-in-out;
  opacity: 0.5;
}

@keyframes flying {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(0px) translateY(-60px);
    opacity: 0;
  }
}

.background {
  content: "";
  background-image: linear-gradient(to right, #850048, #ff008a);
  background-size: 100%;
}
